---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">AI创辅</h1>
			<p class="subtext editable">创</p>
			<p class="subtext editable">你所爱(AI)</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">清华iCenter创客空间AI创业孵化器</h2>
				<p class="editable">
						清华大学在创新创业教育方面的建设得到了国家的高度重视与认可。清华iCenter创客空间承担了清华大学国家双创示范基地重点工程项目“服务于双创教育的跨学科创客实践平台”，形成可推广的双创教育体系、创业孵化模式，促进创新创业教育。清华iCenter创客空间在人工智能的基础领域上推出AI创业孵化器，为清华大学学生提供一个可实现AI创业项目的在校工作空间，具体位置设立在清华大学李兆基科技大楼B区，方便学员往返教室。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">AI创辅及跨学科优势</h2>
				<p class="editable">清华大学人工智能创新创业辅修专业（AI创辅）是基于人工智能的创新应用并通过跨学科的导师指导下的一个实践和学习项目，针对清华本科学生在专业的学习下融入创新创业理论、方法和工具。
						AI创辅根据创新实践项目特点，可灵活开设多个创新实践方向，如智能硬件、未来机器人和智能交通。AI创辅要求学生组成跨专业团队，利用清华iCenter创客空间，以团队合作的形式最终产出创新型产品；实行跨院系的联合主任制，每个合作院系各派出一个联合主任，不分主次，保证学科交叉培养人才。
						跨学科优势：通过清华iCenter的AI创业辅修专业，不同学系的学生可以交流合作开创AI产品。
						举例来说：建筑系学生可以和工程系学生共同开创与智能家电及装置结合的建筑物，在模型设计上预留接口安装智能装置，如智能物流收纳、以及可远端控制建筑物内部设施。
						其二，建筑系能与美术专业的学生、机械专业的学生交流合作开创具有功能性、内外美学观感与智能机械设计融为一体的智能建筑物，如深圳宝安机场。达到为人群提升服务的新价值，符合未来生活的需求。
						此外，计算机专业与金融专业的学生可共同学习区块链应用技术完成合作。如数据保护，通过代码加密技术，来实现金融买卖合约的完成，节约了人力物力成本。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

		<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">把梦想变成现实</h2>
				<p class="subtext editable">拿起通往梦想大門的鎖匙</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
