---
title: Alrobot
description: The latest app to help you find new friends with common interests.
image: https://upload.cc/i1/2019/08/11/fv0FIj.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Why Robot?</h1>
			<h1 class="editable">——“变形金刚”我们最初的朋友</h1>
			<p class="subtext editable">改变生活，改变社会，改变未來</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">实验室师资资源</h2>
				<p class="editable">
						机器人实验室不论硬体设备或是师资水平，媲美世界机器人名校如麻省理工学院和斯坦福大学。
						在当今“科教兴国”的时代大背景下，智能机器人更是社会上最炙手可热的项目。同学们透过工程类实践课程的学习，搭配横向跨专业学习与机器人相关不同类型的软硬件知识和加工制造工艺，并与教师及工程师密切协作，最终将可以製作拥有个人特色，属于自己的机器人。
						这样的经历不仅可以帮助他们树立自己的自信，发现并探索未知领域，更为时下真正精彩的创意，做好充足的准备。
						我们往往迫不及待地实现创意，不仅仅是因为它有趣、让人有成就感、或很炫酷,更因为我们能通过实现,将创意与他人分享。
						你需要动手去和零件、工具、机器打交道,就像在游乐场里尽享欢乐一样!
						除了有机会得奖发表国内外期刊，成长型、娱乐型、及有温度的机器人是我们最终的目标，期待有这份憧憬的人加入我们去改变社会自然环境、居住、服务、及社会压力等负面问题.</p>
					
					<p class="editable"> 智能制造实验室(Intelligent Manufacturing Lab)</p>
					<p class="editable"> 实验室现有面积约 1260 平方米，数字制造实验室下设5个主题实训室。仪器设备 130 台套，其中单件50 万元以上的大型仪器设备 7 台（套），固定设备资产总值 1000 多万元。
						实验室下设普车、数车、普铣、数铣、桁架、创新服务平台实训室，根据不同专业层次的需求开发设计实务的实践，创意思维的锤炼，技能训练的达成，让学生能融合理论知识，迸发创意，科学论证，材料掌握，设备及工具应用，手段多样，媒介传导，工艺熟悉等知识点，达成实验态度的培育和创新思维的锻造，对新工艺、新教学模式在工程训练、工程文化、创新创业教育等领域的应用。
						中心科研服务平台充分的利用了科研仪器，使学生的设计得到充分的展示，提高了学生的好奇心、动手能力和创造性。学生根据自身的情况，自己的喜好探究，学生的学习兴趣非常浓厚，探究就会更深入、更持久。
						科研服务平台现有仪器设备普通车床、普通铣床、数控精密车床、车削中心、精雕机、高速铣、瑞士米克朗加工中心、瑞士特纳斯五轴车床、行架机械手等国内先进数控设备，满足学生日常的科研加工！</p>
						 
					<p class="editable"> 人工智能实验室(Artificial Intelligence Lab)</p>
					<p class="editable"> 现有面积100多平方米，包括提供计算资源的数据机房，固定资产约150万元，2016年承担的建设经费近500多万元。数据中心拥有： - 交换机 2台万兆交换机(10Gb Switch)， 十几台接入级交换机 - CPU集群 60台高性能服务器，每台为Intel Xeon 8核处理器和128GB内存，16TB硬盘组成 - GPU集群 50台工作站，128GB内存，每台配备NVidia GPU显卡GTX TitanX.
						本实验室常年驻有来自海内外著名学府的院士、教授指导,每年承担教学课程包括国家级资源共享课程《人工智能实习》、《控制理论》、《智能设计》等课程的理论与实验，且拥有完善的机器人所有模块每年数千人次与此耕耘实验。当前实验室根据基础工业训练中心中长期发展规划，在机器人训练实践教学和创新创业教育领域取得突破与创新，对于课程环节也在不断突破创新，增强实践和培养学生发散性思维的能力。</p>
				<div class="image">
					<img class="editable" src="https://upload.cc/i1/2019/08/11/cmPFlk.png" alt="Screenshot" />
				</div>
			</div>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">实验室学生成果展示</h2>
					<p class="editable">低功耗便携式航拍无人机组</p>
					    <p class="editable">小组的工作主要针对长期在户外恶劣环境下工作的人群，旨在设计一款便携式的无人航拍设备。其设有可自动张开的折叠减速伞、高度与姿态测算模块以及高清晰度的摄像头，具有结构简单、使用方便、功耗低、可多次重复使用的特点。使用者仅需将其抛至空中，其便能实现自稳并进而实现航拍的功能。此外，小组还在研究与该设备配套的其他拓展模块，如压缩空气弹射模块、螺旋桨动力模块等。</p>
						<div class="image">
							<img class="editable" src="https://upload.cc/i1/2019/08/11/jWmMZS.png" alt="Screenshot" />
						</div>
						
					<p class="editable">四足轮式移动平台</p>
						<p class="editable">“轮子可以拥有很高的效率，然而腿可以把我们带到任何地方。”这是一款具有12个自由度的轮腿结合四足轮式移动平台，解决城市中复杂地形移动的问题，应用到巡逻、快递等行业当中。目前，我们已开发一台8自由度样机，能够实现蹲起、抬起一条腿等功能。</p>
					    <div class="image">
							<img class="editable" src="https://upload.cc/i1/2019/08/11/mvue7V.png" alt="Screenshot" />
						</div>

					<p class="editable">自动驾驶技术模型组</p>
						<p class="editable">自动驾驶的核心是车,而不是网, 本质上可以把V2X视为一个拉长拉远的“传感器”，通过和周边车辆、道路、基础设施的通讯，获取比单车能得到的更多的信息，大大增强对周围环境的感知。5G网络本身具有的超大带宽超低时延特性，可以实时搜集传输更多更精确的环境信息，使用云化的计算能力用以车辆本身自动驾驶的决策。结合MIT的duckietown项目，在树莓派上搭建了一个能够自动巡线的小车系统，小车从摄像头采集信息，进行图像处理后传递速度与转向信息给小车的驱动模块，从而实现巡线行驶。</p>
					    <div class="image">
							<img class="editable" src="https://upload.cc/i1/2019/08/11/eymMUG.png" alt="Screenshot" />
						</div>
						
					<p class="editable"> 智能翻页器:Flipage</p>
						<p class="editable"> 一款主要面向乐器演奏者及学习者，运用视觉识别、声音识别等核心算法，基于自主创新的机械运动方案，且注重人因工程和用户体验的智能翻页器，“Flipage”。产品的设计小巧便携，可广泛适用于钢琴的谱台或一般的谱架。在自身软硬件的协调配合下实现按照演奏者的意图与音乐的节奏进行自主翻页，可为演奏者带来极佳的体验。其机械核心构造还可广泛用于需要快速自动化处理纸质书籍的场合，例如自动化书籍批量扫描等。</p>
						<div class="image">
							<img class="editable" src="https://upload.cc/i1/2019/08/11/eymMUG.png" alt="Screenshot" />
						</div>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">智能机器人研究室</h2>
				<p class="editable">
						在全球资料数据化和跨领域多元思维的巨浪下，为了满足「智能机器人」的人才需求从「单一专业」导向向「斜杠型」人才的轉變（Jalkanen,2013），清华大学iCenter智能机器人研究室应运而生。在机器人学的理论架构下，清华大学iCenter机器人研究室由iCenter人工智能实验室（Intelligent Manufacturing Lab）及智能制造实验室（Artificial Intelligence Lab）共同支持下成立。
						清华大学icenter智能机器人研究室是以机器人为主体的模块化、高体验感训练基地, 其密切结合人工智能、认知科学、生物材料、仿生学等领域的最新进展，在机器人主动感知、认知学习、柔性操控等方向开展前膽性、基础性的理论与技术创新研究。此外，还与国内外知名企业开展广泛合作，促进智能机器人技术转化，推动其在国防、工业、航天、 医疗等领域的发展. 人工智能本身的研究离不开感知、思考与行动三方面内容，而智能机器人恰恰是实践这一重要环节的载体,清华大学智能研究院同时聘请来自国内外著名大学教授为智能机器人研究中心学术顾问。学校同时还提供奖学金给优秀机器人创业学生或团队在国内外期刊发表机器人相关的学术文章以及进行国内外机器人交流学习。</p>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">把梦想变成现实</h2>
				<p class="subtext editable">拿起通往梦想大門的鎖匙</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
