---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">清華iCenter创客空間</h1>
			<p class="subtext editable">全球大的校园创客空間--清華iCenter</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">歷史與發展目标</h2>
				<p class="editable">目前全球最大的校园创客空间——清华iCenter创客空间起源于1922年的手工工场，近百年來一直作为工程实践重要的教育基地。1996年，清华大学整合金工教研室，机械厂，科教仪器厂，组建基础工业训练中心。
					
					- 2015年，清华大学结合搬迁李兆基科技大楼的契机，打造“iCenter”，把基础工业训练中心变成创客空间。
					- 2016年，iCenter创客空间成为国家发展与改革委员会首批双创示范基地子项目。
					- 2018年，实现"三位一体、三创融合、开放共享”创新创业教育体系和平台的创建。
					
					未来，清华iCenter创客空间还将有望向校外开放，汇集北京乃至全国的创客们。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">创客空间的培养目标</h2>
				<p class="editable">基于国家创新驱动发展战略，面向全球共性的前沿领域，聚焦人工智能创新应用，通过导师指导下的团队项目实践和跨界学习，使学生掌握全球化背景下的创新创业理论、方法和工具；以创新产品开发为核心，拓展学生的创新力和领导力，培养学生的创业意识、创新精神和创造能力。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">设备资源介绍</h2>
				<p class="editable">iCenter除了雄厚的师资力量，还有非常先进的设备资源，可以帮助创业者实现心中计划及想法
					3D打印实验室：设计与原型实验室：主要针对设计与原型技术开展本科学生工程训练实践教学和创新创业教育。
					人工智能实验室：定位于“互联网+”信息技术与工业技术的教学科研需求。
					智能创造实验室：主要针对先进加工技术，精密测量技术，表面贴装技术，数字化与智能制造系统开展实验教学。
					机械制造实验室：下设车工，铣工，电加工和科研服务平台等4个主题实训室。
					成形制造实验室：针对成型制造技术开展本科学生工程训练实践教学和创新创业教育，下设铸造，锻压，焊接，弧焊机器人，热处理，碳立方等6个主题实验室。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">iCenter</h2>
				<p class="editable">
					iCenter 邀您  
					抓住机会，一往无前  
					 
					iCenter 聚焦于培养创新力、领导力与企业家精神
					其鲜明的特点在于跨专业团队合作
					以团队合作的形式最终作出创新性的产品  
					 
					iCenter 为您提供开启创业大门的钥匙        
					让您找到志同道合的创业伙伴      
					使您度过积极充实的创业时光   
					 
					iCenter 因为看见，所以相信</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">把梦想变成现实</h2>
				<p class="subtext editable">拿起通往梦想大門的鎖匙</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
