---
title: Alrobot
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">智慧交通</h1>
			<p class="subtext editable">簡單 快速 便捷</p>
			<p class="subtext editable">意想不"道"</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">清华icenter智慧交通实验室是什么？</h2>
				<p class="editable">
					清华的ICenter智能交通实验室是一间根据社会在交通方面遇到的问题，通过创新研究，做出服务人类的国际化科技商品的实验室
					智能交通始于单车智能，在如今，人类交通主要受到三个方面的影响，分别为道路交通安全问题，交通拥堵问题，以及交通所造成的污染问题。 例如，拥堵交通所带来的尾气污染问题对我们人类健康带来较大的威胁。根据北京市卫生局统计：“北京市PM2.5污染源中，来自机动车尾气的占31.5%，并且发现汽车在低速行驶工况下，排放污染因子的数目将会增加30%”，因此在北京交通愈发拥堵的情况下，如何解决这一系列问题是交通发展面对的挑战，也是ICenter智慧交通部需要直面的问题。
					智慧交通实验室在多个方面产出了大量相关科研成果。例如：依托高德地图实时大数据对交通状况进行监控和分析，从而降低拥堵及空气污染问题；通过开发云控智慧汽车座椅，在提升驾乘体验的同时提升乘员安全系数。</p>

				<p class="editable">在全球资料数据化和跨领域多元思维的巨浪下，为了满足「智能机器人」的人才需求从「单一专业」导向向「斜杠型」人才的轉變（Jalkanen,2013），清华大学iCenter智能机器人研究室应运而生。在机器人学的理论架构下，清华大学iCenter机器人研究室由iCenter人工智能实验室（Intelligent Manufacturing Lab）及智能制造实验室（Artificial Intelligence Lab）共同支持下成立。
						清华大学icenter智能机器人研究室是以机器人为主体的模块化、高体验感训练基地, 其密切结合人工智能、认知科学、生物材料、仿生学等领域的最新进展，在机器人主动感知、认知学习、柔性操控等方向开展前膽性、基础性的理论与技术创新研究。此外，还与国内外知名企业开展广泛合作，促进智能机器人技术转化，推动其在国防、工业、航天、 医疗等领域的发展. 人工智能本身的研究离不开感知、思考与行动三方面内容，而智能机器人恰恰是实践这一重要环节的载体,清华大学智能研究院同时聘请来自国内外著名大学教授为智能机器人研究中心学术顾问。学校同时还提供奖学金给优秀机器人创业学生或团队在国内外期刊发表机器人相关的学术文章以及进行国内外机器人交流学习。</p>
			</div>

		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">智能交通实验室的资源与导师</h2>
				<p class="editable">智慧公交实验室的导师团由来自工业工程系、土木系、车辆与运载学院、自动化系、美术学院等的专家组成。涵盖智慧交通系统的各个领域，能够对载具平台，智能算法，工业设计等各方面知识进行专业的指导</p>
			</div>

		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">智能交通实验室现有的项目</h2>
				<p class="editable">
					1. 自动驾驶教学平台
					通过在自动驾驶底盘上挂载各种传感器（高精度差分GPS，激光传感器等）及工业控制器，使得该平台能够自主实行“感知，决策，控制”闭环或“OODA”决策循环。实现遥控驾驶，自主导航，自主避障等功能。
					
					2. 云控智慧汽车座椅
					该项目由icenter智慧交通实验室与戴勒姆公司合作。Icenter智能交通实验室的创客们对汽车座椅进行了智能化改造，使得该座椅可以根据用户在移动端输入的数据（身高，体重等）自动调节座椅姿态，使用户有更优的驾乘体验。也可以进一步结合图像识别技术，驾驶过程中也能够不断调节姿态。同时，在汽车感知到碰撞预警时，该座椅可紧急调整姿态以降低人员损伤。
					
					3. 依托高德实时数据的大数据分析平台
					该平台依托多个数据库，包括高德地图浮动车数据，交通事故数据，公交车数据，以及对视频监控内容进行图像分析，通过算法得出交通分析及交通管控建议，对拥堵情况进行调整，提升交通调度效率。

					4. icenter智能交通实验室需要的人才
					如果您具备机械工程、环境工程、土木工程、自动化控制、美术设计、电子工程等专业的知识基础，并且对智能交通有较大的兴趣，那么您正是icenter智慧交通实验室需要的人才！同时也欢迎其他科系感兴趣的学子加入清华ICenter智能交通实验室，让我们一起打造人类世界高效互通，安全互联的未来！
				</p>
			</div>

		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">把梦想变成现实</h2>
				<p class="subtext editable">拿起通往梦想大門的鎖匙</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
